In [1]:
import pandas as pd
import numpy as np

In [4]:
bl=pd.read_csv(r'C:\Users\User\Downloads\2021 ML BL for Export (10).txt', sep='\t', dtype={'CS_UPC_NR_CD': 'str'})

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,2,4,8,10,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
bl

,CUST_ID_NR_CD,IND_ACCT_NR_CD,PROMO_PLN_ID_NR_CD,PROMO_PLN_YR_CD,BRND_NR_CD,CS_UPC_NR_CD,CS_UPC_VRSN_NR_CD,WEEK_NR,SOURCE_CD,SUPPLEMENTAL_VOLUME_NR,CAT_NR_CD,FMLY_NR_CD
0,003107,0,FC1,2021,RO,004100054055,99.0,0.0,M,0.000000,FC,1UA
1,003111,0,FC1,2021,RO,004100054055,99.0,0.0,M,0.013800,FC,1UA
2,003113,0,FC1,2021,RO,004100054055,99.0,0.0,M,2.614652,FC,1UA
3,003114,0,FC1,2021,RO,004100054055,99.0,0.0,M,2.740547,FC,1UA
4,003134,0,FC1,2021,RO,004100054055,99.0,0.0,M,0.012881,FC,1UA
...,...,...,...,...,...,...,...,...,...,...,...,...
15935382,3374,0,NaN,2023,NaN,008730056011,NaN,1.0,NaN,0.574060,NaN,NaN
15935383,3374,0,NaN,2023,NaN,030521525100,NaN,1.0,NaN,0.567166,NaN,NaN
15935384,3374,0,NaN,2023,NaN,008730056007,NaN,1.0,NaN,0.148107,NaN,NaN
15935385,3374,0,NaN,2023,NaN,030521008600,NaN,1.0,NaN,0.000000,NaN,NaN
15935386,3374,0,NaN,2023,NaN,008730056009,NaN,1.0,NaN,0.300000,NaN,NaN

In [26]:
ph=pd.read_excel(r'C:\Users\User\Downloads\DHUB PH Extract (6).xlsx', usecols=['Code', 'Find CaseUPC', 'Category', 'Forecast Group'])

C:\Users\User\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [27]:
ph.head()

             Code Forecast Group             Category  Find CaseUPC
0  10079400277760           01B3  DEO-MALE TOILETRIES  007940027776
1  10079400048636           0410  DEO-MALE TOILETRIES  007940004863
2  10079400473537           03MS  DEO-MALE TOILETRIES  007940047353
3  10079400106381           0714  DEO-MALE TOILETRIES  007940010638
4  10079400312973           01P5  DEO-MALE TOILETRIES  007940031297

In [28]:
ph.rename(columns={'Find CaseUPC': 'CS_UPC_NR_CD'}, inplace=True)

In [29]:
bl = pd.merge(bl,ph,how='left')

In [30]:
bl

,CUST_ID_NR_CD,IND_ACCT_NR_CD,PROMO_PLN_ID_NR_CD,PROMO_PLN_YR_CD,BRND_NR_CD,CS_UPC_NR_CD,CS_UPC_VRSN_NR_CD,WEEK_NR,SOURCE_CD,SUPPLEMENTAL_VOLUME_NR,CAT_NR_CD,FMLY_NR_CD,Code,Category,Forecast Group
0,003107,0,FC1,2021,RO,004100054055,99.0,0.0,M,0.000000,FC,1UA,1.004100e+13,MEALMAKERS,01UA
1,003111,0,FC1,2021,RO,004100054055,99.0,0.0,M,0.013800,FC,1UA,1.004100e+13,MEALMAKERS,01UA
2,003113,0,FC1,2021,RO,004100054055,99.0,0.0,M,2.614652,FC,1UA,1.004100e+13,MEALMAKERS,01UA
3,003114,0,FC1,2021,RO,004100054055,99.0,0.0,M,2.740547,FC,1UA,1.004100e+13,MEALMAKERS,01UA
4,003134,0,FC1,2021,RO,004100054055,99.0,0.0,M,0.012881,FC,1UA,1.004100e+13,MEALMAKERS,01UA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15935382,3374,0,NaN,2023,NaN,008730056011,NaN,1.0,NaN,0.574060,NaN,NaN,1.008730e+13,ELIDA SKIN CARE FACE,0C5W
15935383,3374,0,NaN,2023,NaN,030521525100,NaN,1.0,NaN,0.567166,NaN,NaN,1.030522e+13,ELIDA Q-TIPS,0CC1
15935384,3374,0,NaN,2023,NaN,008730056007,NaN,1.0,NaN,0.148107,NaN,NaN,1.008730e+13,ELIDA SKIN CARE FACE,0C5X
15935385,3374,0,NaN,2023,NaN,030521008600,NaN,1.0,NaN,0.000000,NaN,NaN,1.030521e+13,ELIDA Q-TIPS,0CBW
15935386,3374,0,NaN,2023,NaN,008730056009,NaN,1.0,NaN,0.300000,NaN,NaN,1.008730e+13,ELIDA SKIN CARE FACE,0C5P

In [33]:
l = [44,45,46,47]

In [34]:
bl['WEEK_NR'] = bl['WEEK_NR'].astype(int)

In [120]:
bl[(bl['Forecast Group']=='0759')&(bl['WEEK_NR'].isin(l))&(bl['PROMO_PLN_YR_CD']==2021)&(bl['CUST_ID_NR_CD']==3338)]['SUPPLEMENTAL_VOLUME_NR'].sum()

6455.315557

In [128]:
bl[(bl['Forecast Group']=='0759')&(bl['WEEK_NR'].isin(l))&(bl['PROMO_PLN_YR_CD']==2021)&(bl['CUST_ID_NR_CD']==3338)].groupby('CS_UPC_NR_CD').sum()

,IND_ACCT_NR_CD,PROMO_PLN_YR_CD,CS_UPC_VRSN_NR_CD,WEEK_NR,SUPPLEMENTAL_VOLUME_NR,Code
CS_UPC_NR_CD,,,,,,
007940045947,0,8084,0.0,182,473.836000,4.031760e+13
007940052375,0,8084,0.0,182,0.000000,4.031760e+13
007940052376,0,8084,0.0,182,0.000000,4.031760e+13
007940063763,0,8084,0.0,182,1945.165475,4.031760e+13
007940064676,0,8084,0.0,182,400.411224,4.031760e+13
007940064677,0,8084,0.0,182,0.000000,4.031760e+13
007940064678,0,8084,0.0,182,115.126531,4.031760e+13
007940064679,0,8084,0.0,182,3520.776327,4.031760e+13

In [124]:
bl[(bl['Forecast Group']=='0AUQ')&(bl['WEEK_NR'].isin(l))&(bl['PROMO_PLN_YR_CD']==2021)&(bl['CUST_ID_NR_CD']==3338)]

Empty DataFrame
Columns: [CUST_ID_NR_CD, IND_ACCT_NR_CD, PROMO_PLN_ID_NR_CD, PROMO_PLN_YR_CD, BRND_NR_CD, CS_UPC_NR_CD, CS_UPC_VRSN_NR_CD, WEEK_NR, SOURCE_CD, SUPPLEMENTAL_VOLUME_NR, CAT_NR_CD, FMLY_NR_CD, Code, Category, Forecast Group]
Index: []

In [ ]:
ACTPM_export_211102

In [57]:
actpm=pd.read_csv(r'C:\Users\User\Downloads\ACTPM_export_211102.txt')

In [58]:
actpm

,SalesOrg,AcctID,AcctName,PrdID,Year,Week,Date,Volume
0,1,000621-001133,C&S WHSLE SACRAMENTO,10079400251906,2021,45,20211108,2
1,1,000394-001094,GREAT AMERICAN,10079400251906,2021,45,20211108,2
2,1,000621-001133,C&S WHSLE SACRAMENTO,10079400251807,2021,45,20211108,1
3,1,000394-001094,GREAT AMERICAN,10079400251807,2021,45,20211108,1
4,1,000394-001094,GREAT AMERICAN,10079400507300,2021,45,20211108,2
...,...,...,...,...,...,...,...,...
3798969,1,000627-000000,Albertsons BOISE - PC,10811346020747,2022,52,20221219,300
3798970,1,000627-000000,Albertsons BOISE - PC,20811346021000,2022,52,20221219,75
3798971,1,000627-000000,Albertsons BOISE - PC,10811346021348,2022,52,20221219,45
3798972,1,000627-000000,Albertsons BOISE - PC,20811346021383,2022,52,20221219,75
3798973,1,000174-000000,WAL-MART,20811346021000,2022,52,20221219,520

In [59]:
actpm.rename(columns={'PrdID': 'Code'}, inplace=True)

In [60]:
actpm

,SalesOrg,AcctID,AcctName,Code,Year,Week,Date,Volume
0,1,000621-001133,C&S WHSLE SACRAMENTO,10079400251906,2021,45,20211108,2
1,1,000394-001094,GREAT AMERICAN,10079400251906,2021,45,20211108,2
2,1,000621-001133,C&S WHSLE SACRAMENTO,10079400251807,2021,45,20211108,1
3,1,000394-001094,GREAT AMERICAN,10079400251807,2021,45,20211108,1
4,1,000394-001094,GREAT AMERICAN,10079400507300,2021,45,20211108,2
...,...,...,...,...,...,...,...,...
3798969,1,000627-000000,Albertsons BOISE - PC,10811346020747,2022,52,20221219,300
3798970,1,000627-000000,Albertsons BOISE - PC,20811346021000,2022,52,20221219,75
3798971,1,000627-000000,Albertsons BOISE - PC,10811346021348,2022,52,20221219,45
3798972,1,000627-000000,Albertsons BOISE - PC,20811346021383,2022,52,20221219,75
3798973,1,000174-000000,WAL-MART,20811346021000,2022,52,20221219,520

In [61]:
ph

                 Code Forecast Group             Category  CS_UPC_NR_CD
0      10079400277760           01B3  DEO-MALE TOILETRIES  007940027776
1      10079400048636           0410  DEO-MALE TOILETRIES  007940004863
2      10079400473537           03MS  DEO-MALE TOILETRIES  007940047353
3      10079400106381           0714  DEO-MALE TOILETRIES  007940010638
4      10079400312973           01P5  DEO-MALE TOILETRIES  007940031297
...               ...            ...                  ...           ...
40246  10055451002148           0CD5           ELIDA HAIR  005545100214
40247  10055451002124           0CD5           ELIDA HAIR  005545100212
40248  10055451002117           0CD5           ELIDA HAIR  005545100211
40249  10055451002131           0CD5           ELIDA HAIR  005545100213
40250  80055451526230           0CD8           ELIDA HAIR  005545152623

[40251 rows x 4 columns]

In [62]:
actpm = pd.merge(actpm,ph,how='left')

In [63]:
actpm

,SalesOrg,AcctID,AcctName,Code,Year,Week,Date,Volume,Forecast Group,Category,CS_UPC_NR_CD
0,1,000621-001133,C&S WHSLE SACRAMENTO,10079400251906,2021,45,20211108,2,0IOC,DEO-MALE TOILETRIES,007940025190
1,1,000394-001094,GREAT AMERICAN,10079400251906,2021,45,20211108,2,0IOC,DEO-MALE TOILETRIES,007940025190
2,1,000621-001133,C&S WHSLE SACRAMENTO,10079400251807,2021,45,20211108,1,0IOC,DEO-MALE TOILETRIES,007940025180
3,1,000394-001094,GREAT AMERICAN,10079400251807,2021,45,20211108,1,0IOC,DEO-MALE TOILETRIES,007940025180
4,1,000394-001094,GREAT AMERICAN,10079400507300,2021,45,20211108,2,0IZC,DEO-MALE TOILETRIES,007940050730
...,...,...,...,...,...,...,...,...,...,...,...
3798969,1,000627-000000,Albertsons BOISE - PC,10811346020747,2022,52,20221219,300,0BYM,DOLLAR SHAVE CLUB,081134602074
3798970,1,000627-000000,Albertsons BOISE - PC,20811346021000,2022,52,20221219,75,0BYG,DOLLAR SHAVE CLUB,081134602100
3798971,1,000627-000000,Albertsons BOISE - PC,10811346021348,2022,52,20221219,45,0BV5,DOLLAR SHAVE CLUB,081134602134
3798972,1,000627-000000,Albertsons BOISE - PC,20811346021383,2022,52,20221219,75,0BU1,DOLLAR SHAVE CLUB,081134602138
3798973,1,000174-000000,WAL-MART,20811346021000,2022,52,20221219,520,0BYG,DOLLAR SHAVE CLUB,081134602100

In [123]:
actpm[(actpm['Forecast Group']=='0AUQ')&(actpm['Week'].isin(l))&(actpm['Year']==2021)&(actpm['AcctID']=='003338-000000')]['Volume'].sum()

0

Plans

In [222]:
plans=pd.read_csv(r'C:\Users\User\Downloads\DOMO_UPC_PLANS EXPORT_210923.csv')

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [223]:
plans

           PAD  PAI      CASE_UPC     WEEK  PHY_CS  PLAN_UNSV  NSV_PRICE
0            4    0  001111100094  W202138     0.0        0.0    1632.04
1            4    0  001111100094  W202139     0.0        0.0    1632.04
2            4    0  001111100094  W202140     0.0        0.0    1632.04
3            4    0  001111100094  W202141     0.0        0.0    1632.04
4            4    0  001111100094  W202142     0.0        0.0    1632.04
...        ...  ...           ...      ...     ...        ...        ...
13794580  3466    0   73291345027  W202248     0.0        0.0      19.32
13794581  3466    0   73291345027  W202249     0.0        0.0      19.32
13794582  3466    0   73291345027  W202250     0.0        0.0      19.32
13794583  3466    0   73291345027  W202251     0.0        0.0      19.32
13794584  3466    0   73291345027  W202252     0.0        0.0      19.32

[13794585 rows x 7 columns]

In [224]:
ph

                 Code Forecast Group             Category  CS_UPC_NR_CD
0      10079400277760           01B3  DEO-MALE TOILETRIES  007940027776
1      10079400048636           0410  DEO-MALE TOILETRIES  007940004863
2      10079400473537           03MS  DEO-MALE TOILETRIES  007940047353
3      10079400106381           0714  DEO-MALE TOILETRIES  007940010638
4      10079400312973           01P5  DEO-MALE TOILETRIES  007940031297
...               ...            ...                  ...           ...
40246  10055451002148           0CD5           ELIDA HAIR  005545100214
40247  10055451002124           0CD5           ELIDA HAIR  005545100212
40248  10055451002117           0CD5           ELIDA HAIR  005545100211
40249  10055451002131           0CD5           ELIDA HAIR  005545100213
40250  80055451526230           0CD8           ELIDA HAIR  005545152623

[40251 rows x 4 columns]

In [225]:
plans.rename(columns={'CASE_UPC': 'CS_UPC_NR_CD'}, inplace=True)

In [226]:
plans['CS_UPC_NR_CD']=plans['CS_UPC_NR_CD'].astype(str).str.zfill(12)

In [227]:
plans = pd.merge(plans,ph,how='left')

In [228]:
plans

,PAD,PAI,CS_UPC_NR_CD,WEEK,PHY_CS,PLAN_UNSV,NSV_PRICE,Code,Forecast Group,Category
0,4,0,001111100094,W202138,0.0,0.0,1632.04,1.001111e+13,039I,PERSONAL WASH
1,4,0,001111100094,W202139,0.0,0.0,1632.04,1.001111e+13,039I,PERSONAL WASH
2,4,0,001111100094,W202140,0.0,0.0,1632.04,1.001111e+13,039I,PERSONAL WASH
3,4,0,001111100094,W202141,0.0,0.0,1632.04,1.001111e+13,039I,PERSONAL WASH
4,4,0,001111100094,W202142,0.0,0.0,1632.04,1.001111e+13,039I,PERSONAL WASH
...,...,...,...,...,...,...,...,...,...,...
13794580,3466,0,073291345027,W202248,0.0,0.0,19.32,1.073291e+13,0BA2,SVG OTHER PERSONAL CARE
13794581,3466,0,073291345027,W202249,0.0,0.0,19.32,1.073291e+13,0BA2,SVG OTHER PERSONAL CARE
13794582,3466,0,073291345027,W202250,0.0,0.0,19.32,1.073291e+13,0BA2,SVG OTHER PERSONAL CARE
13794583,3466,0,073291345027,W202251,0.0,0.0,19.32,1.073291e+13,0BA2,SVG OTHER PERSONAL CARE
13794584,3466,0,073291345027,W202252,0.0,0.0,19.32,1.073291e+13,0BA2,SVG OTHER PERSONAL CARE

In [229]:
plans['Category'].unique()

array(['PERSONAL WASH', 'ELIDA PERSONAL WASH', 'HAIR CARE', 'SPREADS',
       'KNORR', 'GHB NOVELTIES', 'MEALMAKERS', 'TEA', nan,
       'SKIN CARE - BODY', 'TOTAL CONDIMENTS', 'SUPER PREMIUM ICE CREAM',
       'SKIN CARE - FACE', 'GHB PACKAGED', 'DEO-MALE TOILETRIES',
       'ELIDA Q-TIPS', 'Q-TIPS-MISC', 'HOME CARE', 'SUNDIAL',
       'SVG OTHER PERSONAL CARE', 'ORAL CARE', 'ELIDA SKIN CARE FACE',
       'DOLLAR SHAVE CLUB', 'POURABLES', 'ELIDA DEO-MALE TOILETRIES',
       'PROFESSIONAL', 'MISC. OTHER FOODS', 'RPL SPREADS',
       'B&J INGREDIENTS'], dtype=object)

In [230]:
l1 = ['W202140']

In [231]:
l2 = ['HAIR CARE', 'DEO-MALE TOILETRIES', 'SUNDIAL']

In [232]:
plans = plans[(plans['WEEK'].isin(l1))&(plans['PAD']==3338)&(plans['Category'].isin(l2))]

In [233]:
#plans[(plans['Forecast Group']=='0AUQ')&(plans['WEEK'].isin(l1))&(plans['PAD']==3338)]

In [234]:
plans

,PAD,PAI,CS_UPC_NR_CD,WEEK,PHY_CS,PLAN_UNSV,NSV_PRICE,Code,Forecast Group,Category
11869287,3338,0,002240000028,W202140,0.0,0.00,28.32,1.002240e+13,06KQ,HAIR CARE
11869354,3338,0,002240000032,W202140,23.0,651.36,28.32,1.002240e+13,06KQ,HAIR CARE
11869421,3338,0,002240000043,W202140,0.0,0.00,16.72,1.002240e+13,06KO,HAIR CARE
11869488,3338,0,002240000044,W202140,0.0,0.00,16.72,1.002240e+13,06KO,HAIR CARE
11869555,3338,0,002240000046,W202140,0.0,0.00,16.72,1.002240e+13,06KO,HAIR CARE
...,...,...,...,...,...,...,...,...,...,...
12068184,3338,0,176430220430,W202140,11.0,1586.64,144.24,3.076430e+13,0863,SUNDIAL
12069591,3338,0,871160075340,W202140,0.0,0.00,49.08,8.711601e+12,0V3K,HAIR CARE
12069658,3338,0,871160075384,W202140,0.0,0.00,49.08,8.711601e+12,0V3K,HAIR CARE
12069725,3338,0,871170071680,W202140,0.0,0.00,49.08,8.711701e+12,0V3K,HAIR CARE
12069792,3338,0,871256146682,W202140,0.0,0.00,0.00,8.712561e+12,04IQ,HAIR CARE

In [235]:
plans['WEEK'].unique()

array(['W202140'], dtype=object)

In [236]:
plans['PAD'].unique()

array([3338], dtype=int64)

In [237]:
plans['Category'].unique()

array(['HAIR CARE', 'DEO-MALE TOILETRIES', 'SUNDIAL'], dtype=object)

In [238]:
plans210923 = plans

In [239]:
plans210923

,PAD,PAI,CS_UPC_NR_CD,WEEK,PHY_CS,PLAN_UNSV,NSV_PRICE,Code,Forecast Group,Category
11869287,3338,0,002240000028,W202140,0.0,0.00,28.32,1.002240e+13,06KQ,HAIR CARE
11869354,3338,0,002240000032,W202140,23.0,651.36,28.32,1.002240e+13,06KQ,HAIR CARE
11869421,3338,0,002240000043,W202140,0.0,0.00,16.72,1.002240e+13,06KO,HAIR CARE
11869488,3338,0,002240000044,W202140,0.0,0.00,16.72,1.002240e+13,06KO,HAIR CARE
11869555,3338,0,002240000046,W202140,0.0,0.00,16.72,1.002240e+13,06KO,HAIR CARE
...,...,...,...,...,...,...,...,...,...,...
12068184,3338,0,176430220430,W202140,11.0,1586.64,144.24,3.076430e+13,0863,SUNDIAL
12069591,3338,0,871160075340,W202140,0.0,0.00,49.08,8.711601e+12,0V3K,HAIR CARE
12069658,3338,0,871160075384,W202140,0.0,0.00,49.08,8.711601e+12,0V3K,HAIR CARE
12069725,3338,0,871170071680,W202140,0.0,0.00,49.08,8.711701e+12,0V3K,HAIR CARE
12069792,3338,0,871256146682,W202140,0.0,0.00,0.00,8.712561e+12,04IQ,HAIR CARE

In [180]:
plans210923['CS_UPC_NR_CD'].nunique()

1621

In [206]:
plans210726

,PAD,PAI,CS_UPC_NR_CD,WEEK,PHY_CS,PLAN_UNSV,NSV_PRICE,Code,Forecast Group,Category
12857527,3338,0,002240000028,W202140,0.0,0.00,28.32,1.002240e+13,06KQ,HAIR CARE
12857603,3338,0,002240000032,W202140,0.0,0.00,28.32,1.002240e+13,06KQ,HAIR CARE
12857679,3338,0,002240000043,W202140,0.0,0.00,16.72,1.002240e+13,06KO,HAIR CARE
12857755,3338,0,002240000044,W202140,0.0,0.00,16.72,1.002240e+13,06KO,HAIR CARE
12857831,3338,0,002240000046,W202140,0.0,0.00,16.72,1.002240e+13,06KO,HAIR CARE
...,...,...,...,...,...,...,...,...,...,...
13078147,3338,0,176430220430,W202140,2.0,288.48,144.24,3.076430e+13,0863,SUNDIAL
13079743,3338,0,871160075340,W202140,0.0,0.00,0.00,8.711601e+12,0V3K,HAIR CARE
13079819,3338,0,871160075384,W202140,0.0,0.00,0.00,8.711601e+12,0V3K,HAIR CARE
13079895,3338,0,871170071680,W202140,0.0,0.00,49.08,8.711701e+12,0V3K,HAIR CARE
13079971,3338,0,871256146682,W202140,0.0,0.00,0.00,8.712561e+12,04IQ,HAIR CARE

In [181]:
plans210726['CS_UPC_NR_CD'].nunique()

1558

In [241]:
plans_f = pd.merge(plans210923, plans210726, how='left')

In [242]:
plans_f

,PAD,PAI,CS_UPC_NR_CD,WEEK,PHY_CS,PLAN_UNSV,NSV_PRICE,Code,Forecast Group,Category
0,3338,0,002240000028,W202140,0.0,0.00,28.32,1.002240e+13,06KQ,HAIR CARE
1,3338,0,002240000032,W202140,23.0,651.36,28.32,1.002240e+13,06KQ,HAIR CARE
2,3338,0,002240000043,W202140,0.0,0.00,16.72,1.002240e+13,06KO,HAIR CARE
3,3338,0,002240000044,W202140,0.0,0.00,16.72,1.002240e+13,06KO,HAIR CARE
4,3338,0,002240000046,W202140,0.0,0.00,16.72,1.002240e+13,06KO,HAIR CARE
...,...,...,...,...,...,...,...,...,...,...
1616,3338,0,176430220430,W202140,11.0,1586.64,144.24,3.076430e+13,0863,SUNDIAL
1617,3338,0,871160075340,W202140,0.0,0.00,49.08,8.711601e+12,0V3K,HAIR CARE
1618,3338,0,871160075384,W202140,0.0,0.00,49.08,8.711601e+12,0V3K,HAIR CARE
1619,3338,0,871170071680,W202140,0.0,0.00,49.08,8.711701e+12,0V3K,HAIR CARE
1620,3338,0,871256146682,W202140,0.0,0.00,0.00,8.712561e+12,04IQ,HAIR CARE

In [ ]:
plans210923.

In [ ]:
plans210726

In [243]:
plans210923.to_csv('plans210923.csv', index=False)

In [244]:
plans210726.to_csv('plans210726.csv', index=False)

In [44]:
total=pd.read_csv(r'C:\Users\User\Downloads\total_forecast_ML141021.csv', delimiter='|')

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [45]:
total

,CUST_ID_NR_CD,IND_ACCT_NR_CD,PROMO_PLN_ID_NR_CD,PROMO_PLN_YR_CD,BRND_NR_CD,CS_UPC_NR_CD,CS_UPC_VRSN_NR_CD,WEEK_NR,SOURCE_CD,SUPPLEMENTAL_VOLUME_NR,CAT_NR_CD,FMLY_NR_CD,ACCT_PLAN_ID,DATE_LAST_UPDATED,DEL_IND,NSV_AMT,Unnamed: 16
0,4,0,NaN,2021,NaN,001111100279,NaN,41,NaN,112.493284,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,0,NaN,2021,NaN,001111100279,NaN,42,NaN,112.493284,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,0,NaN,2021,NaN,001111100279,NaN,43,NaN,112.493284,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0,NaN,2021,NaN,001111100279,NaN,44,NaN,129.236637,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0,NaN,2021,NaN,001111100279,NaN,45,NaN,181.530866,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4444404,52,0,NaN,2022,NaN,871256686550,NaN,49,NaN,608.406746,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4444405,52,0,NaN,2022,NaN,871256686550,NaN,50,NaN,608.406746,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4444406,52,0,NaN,2022,NaN,871256686550,NaN,51,NaN,608.406746,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4444407,52,0,NaN,2022,NaN,871256686550,NaN,52,NaN,806.564084,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4444408,52,0,NaN,2023,NaN,871256686550,NaN,1,NaN,603.990591,NaN,NaN,NaN,NaN,NaN,NaN,NaN